.table{
    text-align: left;
    // background-color: #000;
    .S{
        // height: 1rem;
        width: 2rem;
    }
    .N{
        width: 10rem;
    }
    .P{
        width: 8rem;
    }
    .E{
        width: 11rem;
    }
    .A{
        width: 10rem;
        padding-left: .5rem;
    }
    .D{
        width: 5rem;
        padding-left: .5rem;

    }
    .T{
        width: 5rem;
        padding-left: .5rem;

    }
}

